@import url('https://fonts.googleapis.com/css?family=Nixie+One|Raleway:200');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    height: 100vh;
    color: #fff;
    display: flex;
    background: #3E423A;
    font-family: 'Nixie One', cursive;
  }
  
  .display-container {
    margin: auto;
    display: flex;
  }
  .note-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;
  }
  .circle__progress {
    fill: none;
    stroke-width: 3;
    stroke-opacity: 0.3;
    stroke-linecap: round;
  }
  
  .note-display:nth-child(1) .circle__progress { stroke: #AAFF00; }
  .note-display:nth-child(2) .circle__progress { stroke: #FF00AA; }
  .note-display:nth-child(3) .circle__progress { stroke: #AA00FF; }
  .note-display:nth-child(4) .circle__progress { stroke: #00AAFF; }

  .circle__progress {
    fill: none;
    stroke-width: 3;
    stroke-opacity: 0.3;
    stroke-linecap: round;
  }
  
  .note-display:nth-child(1) .circle__progress { stroke: #AAFF00; }
  .note-display:nth-child(2) .circle__progress { stroke: #FF00AA; }
  .note-display:nth-child(3) .circle__progress { stroke: #AA00FF; }
  .note-display:nth-child(4) .circle__progress { stroke: #00AAFF; }